/* ⬇️ Design */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@media(prefers-color-scheme: dark) {
	body {
		background-color: #1a1a1a !important;
		color: #fff !important;
	}
}

body {
	background-color: #e6e6e6;
	color: #000;
	font-family: 'Open Sans', sans-serif;

}

 a {
	color: #7289da;
	text-decoration: none;
 }

 a:hover {
	text-decoration: underline;
 }

 .dante_nl {
	background: #7289DA;
	background: -webkit-linear-gradient(to right, #7289DA 0%, #5865f2 100%);
	background: -moz-linear-gradient(to right, #7289DA 0%, #5865f2 100%);
	background: linear-gradient(to right, #7289DA 0%, #5865f2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
 }

 hr {
	background: linear-gradient(to right, #7289DA, #5865f2);
  	height: 2px;
	border: none;
	border-radius: 8px;
 }

 .discordcopy {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border-radius: 8px;
    background: #7289DA;
	background: -webkit-linear-gradient(to right, #7289DA 0%, #5865f2 100%);
	background: -moz-linear-gradient(to right, #7289DA 0%, #5865f2 100%);
	background: linear-gradient(to right, #7289DA 0%, #5865f2 100%);
    color: #ffffff;
    text-decoration: none;
	margin-left: 5px;
}
.discordcopy:hover,
.discordcopy:focus {
    background: #8095de;
	background: -webkit-linear-gradient(to right, #8095de 0%, #6974f3 100%);
	background: -moz-linear-gradient(to right, #8095de 0%, #6974f3 100%);
	background: linear-gradient(to right, #8095de 0%, #6974f3 100%);
    color: #ffffff;
    text-decoration: none;
}

 .discordjoin {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border-radius: 8px;
    background: #3ba55d;
	background: -webkit-linear-gradient(to right, #3ba55d 0%, #359554 100%);
	background: -moz-linear-gradient(to right, #3ba55d 0%, #359554 100%);
	background: linear-gradient(to right, #3ba55d 0%, #359554 100%);
    color: #ffffff;
    text-decoration: none;
	margin-left: 5px;
}
.discordjoin:hover,
.discordjoin:focus {
    background: #62b77d;
	background: -webkit-linear-gradient(to right, #62b77d 0%, #4fae6d 100%);
	background: -moz-linear-gradient(to right, #62b77d 0%, #4fae6d 100%);
	background: linear-gradient(to right, #62b77d 0%, #4fae6d 100%);
    color: #ffffff;
    text-decoration: none;
}

.rhbutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border-radius: 8px;
    background: #4ea699;
	background: -webkit-linear-gradient(to right, #4ea699 0%, #346f66 100%);
	background: -moz-linear-gradient(to right, #4ea699 0%, #346f66 100%);
	background: linear-gradient(to right, #4ea699 0%, #346f66 100%);
    color: #ffffff;
    text-decoration: none;
	margin-left: 5px;
}
.rhbutton:hover,
.rhbuttonn:focus {
    background: #60afa3;
	background: -webkit-linear-gradient(to right, #60afa3 0%, #487d75 100%);
	background: -moz-linear-gradient(to right, #60afa3 0%, #487d75 100%);
	background: linear-gradient(to right, #60afa3 0%, #487d75 100%);
    color: #ffffff;
    text-decoration: none;
}

.ghbutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border-radius: 8px;
    background: #000;
    color: #ffffff;
    text-decoration: none;
	margin-left: 5px;
	opacity: 80%;
}
.ghbutton:hover,
.ghbuttonn:focus {
    background: #000;
    color: #ffffff;
    text-decoration: none;
	opacity: 70%;
}

.alert {
padding: 20px;
background-color: #f94144;
color: white;
opacity: 1;
transition: opacity 0.6s;
margin-bottom: 15px;
border-radius: 8px;
}

.alert.success {background-color: #43aa8b;}
.alert.info {background-color: #0077b6;}
.alert.warning {background-color: #f8961e;}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
/* ⬇️ Layout */

 .split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.left {
	left: 0;
	text-align: left;
}

.right {
	right: 0;
	text-align: right;
	border-left: 3px solid  #7289DA;
	padding-right: 5px;
}
