body {
            background: white;
            font-family: system-ui;
            color: black;
            text-align: center;
        }

        /* Light Mode */
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #333;
                color: #fff;
            text-align: center;
            }

            /* Dark Mode */
        }

        .topnav {
            overflow: hidden;
            border-radius: 8px;
            background-color: #1F1F1F;
            position: sticky;
            top: 0px;
        }

        .topnav a {
            float: left;
            display: block;
            color: #AAAAAA;
            text-align: center;
            padding: 12px 14px;
            text-decoration: none;
            font-size: 17px;
            font-weight: 400;
        }

        .button {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 12px 24px;
            border: 1px solid #000000;
            border-radius: 8px;
            background: #000000;
            color: #ffffff;
            text-decoration: none;
            border: 3px solid #D8D8D8;
            font: normal normal bold 20px system-ui;
        }

        .button:hover {
            border: 1px solid #1F1F1F;
            background: #333;
            color: #ffffff;
            text-decoration: none;
            border: 3px solid #D8D8D8;
        }

        .discord {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 12px 24px;
            border-radius: 8px;
            background: #7288da;
            color: #ffffff;
            text-decoration: none;
            font: normal normal bold 20px system-ui;
        }

        .discord:hover {
            background: #89a3ff;
            color: #ffffff;
            text-decoration: none;
        }

        .mail {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 12px 24px;
            border-radius: 8px;
            background: #007aff;
            color: #ffffff;
            text-decoration: none;
            font: normal normal bold 20px system-ui;
        }

        .mail:hover {
            background: #3396FF;
            color: #ffffff;
            text-decoration: none;
        }

        .shortcuts {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 12px 24px;
            border: 0px solid #ac4c6f;
            border-radius: 8px;
            background: #d75f8b;
            background: -webkit-gradient(linear, left top, left bottom, from(#d75f8b), to(#2e9cbd));
            background: -moz-linear-gradient(top, #d75f8b, #2e9cbd);
            background: linear-gradient(to bottom, #d75f8b, #2e9cbd);
            color: #ffffff;
            text-decoration: none;
            font: normal normal bold 20px system-ui;
        }

        .shortcuts:hover {
            border: 0px solid #d75f8b;
            background: #ff72a7;
            background: -webkit-gradient(linear, left top, left bottom, from(#ff72a7), to(#37bbe3));
            background: -moz-linear-gradient(top, #ff72a7, #37bbe3);
            background: linear-gradient(to bottom, #ff72a7, #37bbe3);
            color: #ffffff;
            text-decoration: none;
        }
        
        .classic {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #a12727;
    border-radius: 8px;
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
    background: -moz-linear-gradient(top, #ff4a4a, #992727);
    background: linear-gradient(to bottom, #ff4a4a, #992727);
    -webkit-box-shadow: #ff5959 0px 0px 40px 0px;
    -moz-box-shadow: #ff5959 0px 0px 40px 0px;
    box-shadow: #ff5959 0px 0px 40px 0px;
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.classic:hover,
.classic:focus {
    background: #ff5959;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #ff5959, #b62f2f);
    background: linear-gradient(to bottom, #ff5959, #b62f2f);
    color: #ffffff;
    text-decoration: none;
}
.classic:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
}

a {
	text-decoration: none;
    color: #007aff
}

.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.collapsible {
  background-color: #007aff;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 8px
}

.active, .collapsible:hover {
  background-color: #3395ff;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-radius: 8px;
  border: 3px solid #007aff;
}

.alert {
  padding: 20px;
  background-color: #f94144;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  border-radius: 8px;
}

.alert.success {background-color: #43aa8b;}
.alert.info {background-color: #0077b6;}
.alert.warning {background-color: #f8961e;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
